* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    background-image: url(./images/pattern-background-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    height: 635px;
    border-radius: 25px;
    margin-bottom: 2em;
    font-family: 'Red Hat Display', sans-serif;
    background-color: white;
    box-shadow: 0em 1em 2em -1.5em gray;
}

.danceimg {
    display: block;
    width: 375px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.cardbottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30em;
    padding-bottom: 2em;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 2em;
}

h1 {
    margin-top: 1.4em;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    color: hsl(223, 47%, 23%);
}

.subheader {
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    font-size: 17px;
    width: 17em;
    color: hsl(224, 23%, 55%);
}

.plan {
    display: flex;
    justify-content: center;
    height: 5em;
    width: 20em;
    margin-bottom: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 15px;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
}

.symbolimg {
    align-self: center;
    margin-right: 5px;
    height: 3.5em;
    width: auto;
}

.currentplan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .45em;
}

.plantype {
    font-weight: 700;
    padding-right: 2.5em;
    color: hsl(223, 47%, 23%);
}

.price {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.changeplan {
    align-self: center;
}

.changeplan:hover {
    color: hsl(245, 75%, 52%);
    text-decoration: none;
}

.proceedtopay {
    font-weight: 900;
    width: 18em;
    height: 3.5em;
    margin-bottom: 1.5em;
    border-radius: 12px;
    border: 0;
    box-shadow: 20px 20px 50px -22px hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    background-color: hsl(245, 75%, 52%);
}

.proceedtopay:hover {
    opacity: 60%;
    box-shadow: 20px 20px 50px -17px hsl(245, 75%, 52%);
}

.cancelorder {
    margin-bottom: 2em;
    font-weight: 900;
    border: 0;
    color: hsl(224, 23%, 55%);
    background: 0;
}

.cancelorder:hover {
    color: hsl(223, 47%, 23%);
}

@media only screen and (min-width: 1170px;) {
    
    body {
        background-image: url(/images/pattern-background-desktop.svg);
    }

    .card {
        max-width: 500px;
    }

    p {
        font-size: 17px
    }

    h1 {
        font-size: 18px;
    }

    button {
        font-size: 17px;
    }
}

